*{
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

.img1{
    display: inline-block;
    width:250px;
    height :400px;
    filter: grayscale(1) brightness(0.5);
    transition: 0.8 linear;
}

.img1:hover{
    filter:grayscale(0) brightness(1);
    transform: scale(0.9);
}

.pop-img{
    position: fixed;
    top:0;
    left:0;
    background-color: rgba(0,0,0,0.5);
    width: 2000px;
    height: 750px;
    z-index:100;
    
}


.pop-img span{
  position: fixed;  
  right: 10px;
  color:aliceblue;
  font-size: 60px;
  font-weight: bolder;
  cursor: pointer;
  z-index: 100;
}



/* top: 0;
right: 10px;
font-size: 60px;
font-weight: bolder;
color: aliceblue;
cursor: pointer;
z-index: 100; */

.pop-img img{
    position: absolute;
    top:10px;

    left:500px;
    width: 500px;
   height: 700px;
    border: 5px solid white;
}
.noImage{
    display: none;

}

@media (max-width:1027px){

.pop-img img{
    position: absolute;
    top:100px;

    left:40px;
    width: 70vw;
   height: auto;
    border: 5px solid white;
}
}

